*{
    padding: 10px;
    margin: 0px;
    font-family: "Dela Gothic One", sans-serif;
}
body{
    background-color: black;    
}
nav{
    width: 100%;
    height: 20dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(https://e0.pxfuel.com/wallpapers/832/129/desktop-wallpaper-dark-blue-green-gradient-background-and-blue-green-and-black.jpg);
}
/* -----------------------------------------------CLASS-------------------------------------------------- */

.contenedor-opciones{
    display: flex;
    width: 22%;
    list-style: none;
    flex-wrap: wrap;
}
.contenedor-opciones a{
    color: rgb(12, 29, 180);
    font-size: 18px;
    
}
.titulo h1 a{
    font-weight: 900;
    color: rgba(0, 255, 85, 0.568);
    text-shadow: 5px 5px blue ;
    
}
.titulo{
    display: flex;
    font-size: 20px;
    width: 20%;
    
}
.logo a img{
    width: 30px;
}

/* -------------------------------------------------SUB-CLASS AND SUB-IDS------------------------------------------------ */

.contenedor-opciones a:link{
    text-decoration: none;
}
.contenedor-opciones a:hover{
    color: green;
    font-size: 20px;
}
.titulo h1 a:link{
    text-decoration: none;
}
